<VirtualHost *:80>
    ServerName portal.supermercado.com
    DocumentRoot "C:/Users/lucia/OneDrive/Documentos/supermercaso cloud"

    <Directory "C:/Users/lucia/OneDrive/Documentos/supermercaso cloud">
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    DirectoryIndex index.php
    Include conf/extra/httpd-supermercado-cloud-env.conf
</VirtualHost>
